<h2 class="title">Du får snart en SMS!</h2>
<small class="under-title">Skriv inn koden du får fra oss på telefonen din</small>

<div class="login">
	<div class="input-chain">
		<div class="inputs">
			<input pos='0' class="{{renderId}} code-0 sms-code tel-input focus-style-js-input" type="text" maxlength="1" style="text-transform:uppercase">
			<input pos='1' class="{{renderId}} code-1 sms-code tel-input focus-style-js-input" type="text" maxlength="1" style="text-transform:uppercase">
			<input id="lastSmsChar" pos='2' class="{{renderId}} code-2 sms-code tel-input focus-style-js-input" type="text" maxlength="1" style="text-transform:uppercase">
			<button class="icon" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				<span>?</button>
			</button>
		</div>
	</div>
	<div id="smsCodeErrorChain" render-id="{{renderId}}" class="info-feil hide">
		<p class="icon">!</p>
		<span class="text">Feil kode, prøv igjen!</span>
	</div>
</div>

<div class="login-message collapse" id="collapseExample">
	<p class="text">
		Vi har send deg en engangskode på SMS som må fylles in over for å lage bruker hos UKM. Dette er viktig siden vi sender ut informasjon om arrangementene våre på SMS og kan da være sikre på at du har mottat den informasjonen du har behov for.
	</p>
	<div class="icon">
		<p class="char">i</p>
	</div>
</div>

<div class="buttons-div">
	<button id="forwardNewCode" render-id="{{renderId}}" class="send-new-password forward-new-code small-button-nobo">Send ny engagskode</button>
</div>

<div class="next-button">
	<button type="button" onclick="window.history.back();" class="ukm-button-primary button half-color left">
		<img class="icon" src="/app/img/chevron-back.png">
	</button>

	<button render-id="{{renderId}}" next-page="{{nextPage}}" class="login-sms-next ukm-button-primary button right">
		<span class="text">{{renderId == 'forgotPassword' ? 'Neste' : 'Logg Inn'}}</span>
		<img class="icon" src="/app/img/chevron.png">
	</button>
</div>

<script>
	$('button.login-sms-next[render-id="verifyUser"]').click(async (e) => {
		var renderId = $(e.currentTarget).attr('render-id');
		var nextPage = $(e.currentTarget).attr('next-page');
		
		var code = ($('input.sms-code.code-0.'+renderId).val() + $('input.sms-code.code-1.'+renderId).val() + $('input.sms-code.code-2.'+renderId).val()).toUpperCase();

		try{
			var task = onePage.getArgument('task');
			var provider = onePage.getArgument('task') == 'provider';

			// If provider, get tel_nr from providerTelNr otherwise get it from loginTelNr
			var telNr = $('#' + (provider ? 'providerTelNr' : 'loginTelNr') ).val()


            var data = await ukmAPI.masterCall(
                'POST', 
                'finish-sms-verification.php',
                {
	                "tel_nr": telNr,
					'code' : code,
					'password' : provider ? -1 : $('#registerPassword').val(),
					'task' : task ? task : 'not-defined'
				}
			);

			if(data.result == true){
				onePage.render(nextPage);
				return;
			}
			else if(data.timeout) {
				alert('timeout');
			}
			else{
				$('#smsCodeErrorChain[render-id="verifyUser"]').removeClass('hide');
			}

			if(data.left == null || data.left < 1) {
				cleanSMSChain();
				onePage.render('registerNewUser');
			}
        }catch(err) {
            console.error(err);
        }
	});

	// Go to next input (SMS 3 inputs) and send sms
	$('input.sms-code').keyup((e) => {
		var renderId = $(e.currentTarget).attr('render-id');
		var el = $(e.currentTarget);
		var pos = parseInt(el.attr('pos'));

		$('#smsCodeErrorChain[render-id="verifyUser"]').addClass('hide');

		// var allField = $('input.sms-code.code-0.'+renderId).val().length > 0 && $('input.sms-code.code-1.'+renderId).val().length > 0 && $('input.sms-code.code-2.'+renderId).val().length > 0;
		

		// console.log('here');
		if(pos < 2 && el.val().length == 1) {
			$(e.currentTarget).siblings('.code-'+(pos+1)).focus();		
		}
		// else if(allFields) {
		// 	alert('send');
		// }
	});

	$('.send-new-password.forward-new-code').off('click').click((e) => {
		onePage.addArgument('smsForwardTask', $(e.currentTarget).attr('render-id'), false);
		onePage.render('smsForward');
		startSMSForwardVerification();
	});

	$('.login-sms-next[render-id="forgotPassword"]').off('click').click(async (e) => {
		var renderId = 'forgotPassword';
		var code = ($('input.sms-code.code-0.'+renderId).val() + $('input.sms-code.code-1.'+renderId).val() + $('input.sms-code.code-2.'+renderId).val()).toUpperCase();
		
		var data = await ukmAPI.masterCall(
			'POST', 
			'start-change-password.php',
			{
                "tel_nr": $('#loginTelNr').val(),
				'code' : code
			}
		);
		
		if(data.result == true) {
			onePage.render('newPassword');
		}
	});

	var cleanSMSChain = () => {
		$('input.sms-code').val('');
	}

	var startSmsVerification = () => {
		var result = ukmAPI.masterCall(
			'POST',
			'start-sms-verification.php',
			{
				'tel_nr' : $('#loginTelNr').val()
			}
		)

		$('input.sms-code').val('');
		onePage.render("smsForgotPassword");
	}

</script>
