<h2 class="title">Du får snart en SMS!</h2>
<small class="under-title">Skriv inn koden du får fra oss på telefonen din</small>

<div class="login">
	<div class="input-chain">
		<div class="inputs">
			<input pos='0' class="{{renderId}} code-0 sms-code tel-input focus-style-js-input" type="text" maxlength="1" style="text-transform:uppercase">
			<input pos='1' class="{{renderId}} code-1 sms-code tel-input focus-style-js-input" type="text" maxlength="1" style="text-transform:uppercase">
			<input pos='2' class="{{renderId}} code-2 sms-code tel-input focus-style-js-input" type="text" maxlength="1" style="text-transform:uppercase">
			<button class="icon" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				<span>?</button>
			</button>
		</div>
	</div>
</div>

<div class="login-message collapse" id="collapseExample">
	<p class="text">
		Vi har send deg en engangskode på SMS som må fylles in over for å lage bruker hos UKM. Dette er viktig siden vi sender ut informasjon om arrangementene våre på SMS og kan da være sikre på at du har mottat den informasjonen du har behov for.
	</p>
	<div class="icon">
		<p class="char">i</p>
	</div>
</div>

<div class="buttons-div">
	<button id="forwardNewCode" render-id="{{renderId}}" class="send-new-password forward-new-code small-button-nobo">Send ny engagskode</button>
</div>

<div class="next-button">
	<button id="" type="button" class="login-button-style-1 button half-color left render-page-click" to-page="0">
		<img class="icon" src="Images/chevron-back.png">
	</button>

	<button render-id="{{renderId}}" next-page="{{nextPage}}" class="login-sms-next login-button-style-1 button right">
		<span class="text">Logg Inn</span>
		<img class="icon" src="Images/chevron.png">
	</button>
</div>

<script>
	$('button.login-sms-next').click(async (e) => {
		var renderId = $(e.currentTarget).attr('render-id');
		var nextPage = $(e.currentTarget).attr('next-page');
		
		var code = ($('input.sms-code.code-0.'+renderId).val() + $('input.sms-code.code-1.'+renderId).val() + $('input.sms-code.code-2.'+renderId).val()).toUpperCase();

		try{
            var data = await ukmAPI.masterCall(
                'POST', 
                'finish-sms-verification.php',
                {
                    'code' : code
				}
			);
			
			if(data.result == true){
				onePage.render(nextPage);
			}
			else{
				console.log('fail code');
			}
        }catch(err) {
            console.error(err);
        }
	});

	// Go to next input (SMS 3 inputs)
	$('input.sms-code').keyup((e) => {
		var el = $(e.currentTarget);
		var pos = parseInt(el.attr('pos'));
		if(pos < 3 && el.val().length == 1) {
			$(e.currentTarget).siblings('.code-'+(pos+1)).focus();		
		}
	});

	$('.send-new-password.forward-new-code').click((e) => {
		onePage.render('smsForward');
		// var codeForward = await new CodeForward();

		// alert('Koden er mottatt!');

	});

</script>
